section{
    text-align: center;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

.d-flex{
    display: flex;
    justify-content: center;
}

.cart{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-radius: 20px;
    padding: 5px 30px;
    width: 300px;
}

.pad-li{
    padding: 10px;
}